.popup-overlay {
    position: fixed;
    top: 10px;
    right: 20px;
    width: fit-content;
    height: fit-content;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
  .message{
    margin-left: 10px;
    margin-right: 10px;
  }
  .popup-box {
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background:#2e2e2e;
    align-items: center;
  }
  .popup-content{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    white-space: pre;
  }
  
  .popup-success {
    border: 1px solid green;
    color: green;
  }
  
  .popup-failure {
    border: 1px solid red;
    color: red;
  }
  
  .popup-close {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: gray;
  }
  
  .popup-close:hover {
    color: black;
  }
  .popup-timer {
    bottom: 0;
    height: 4px;
    width: 97%;
    background: #2e2e2e;
    position: relative;
    overflow: hidden;
  }
  
  .popup-timer::before {
    content: "";
    position: absolute;
    
    display: block;
    height: 100%;
    width: 100%;
    background: #ccc;
    animation: countdown 3s linear forwards;
  }
  
  @keyframes countdown {
    from {
      width: 100%;
    }
    to {
      width: 0%;
    }
  }
  


  .popup-confirmation {
    background-color: #2e2e2e;
    border: 2px solid #ccc;
    border-radius: 10px;  
    text-align: center;
  }
  
  .popup-actions {
    display: flex;
    justify-content: center;
  
    margin-bottom: 10px;
  }
  
  .popup-confirm {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .popup-confirm:hover {
    background-color: #45a049;
  }
  
  .popup-cancel {
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .popup-cancel:hover {
    background-color: #e53935;
  }
  